.chart-card-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid var(--color-muted) !important; */
  /* padding: 20px 20px 10px 0px; 
  */
  padding: 20px 30px;
  background-color: #f4f6fa;
  /* background-color: #fff; */
  /* border: 3px solid var(--color-muted); */
  /* border-radius: 10px; */
  border-top-left-radius: 0px; /* 왼쪽 위 모서리 */
  /* background-color: aqua; */
}

.chart-card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  justify-content: center;
}

.chart-card-section {
  display: grid;
  grid-template-columns: 1fr 4fr; /* 1:3 비율로 나눔 */
  gap: 40px; /* 각 섹션 간의 간격 설정 */
  width: 100%;
  height: 100%;
}

.chart-section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  /* justify-content: space-between; */
  /* padding: 20px; */
  background-color: #f4f6fa; /* 필요시 배경색 추가 */
}

.card-section {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
}

@media (max-width: 1024px) {
  .chart-card-section {
    grid-template-columns: 1fr; /* 작은 화면에서는 1열로 */
    grid-template-rows: auto auto; /* 각 섹션이 개별 행에 표시 */
  }

  .chart-section {
    order: 1; /* 차트 섹션이 위로 */
  }

  .card-section {
    order: 2; /* 카드 섹션이 아래로 */
  }
}
.chart-pie {
  margin-bottom: 20px;
  font-size: 20px;
}
.chart-card-sub-title {
  font-size: var(--font-subtitle);

  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  color: var(--color-mute) !important;
}

/* .chart-card-main-title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
} */
.card-slider-info-title {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  /* padding-left: 20px; */

  /* padding-bottom: 5px; */
  color: var(--color-mute) !important;
  font-size: var(--font-body);
  font-weight: 400;
  gap: 5px;
}

.slider-line {
  width: 100%;
  height: 3px;
  background-color: var(--color-muted);
  border-radius: 10px;
}

.slider-line-container {
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
  gap: 20px; /* 각 요소 간 간격 */
  width: 100%;
  justify-content: center; /* 중앙 정렬 */
  padding: 15px 0px;
}

.slider-line-container p {
  white-space: nowrap; /* 텍스트가 줄 바꿈 되지 않도록 설정 */
  margin: 0; /* 기본 마진 제거 */
  color: var(--color-mute);
  font-size: 20px;
  font-weight: 500;
}
